<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>iBloggo - Personal Blog Template</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

 	<!-- Bootstrap Styles -->
	<link type="text/css" rel="stylesheet" href="{{ asset('default/css/bootstrap.css') }}" media="screen">
 	<!-- Awesome Icons Styles -->
	<link type="text/css" rel="stylesheet" href="{{ asset('default/css/bfont-awesome.css') }}" media="screen">
 	<!-- FlexSlider Styles -->
	<link type="text/css" rel="stylesheet" href="{{ asset('default/css/flexslider.css') }}" media="screen">
	<!-- CSS3 Animation Styles -->
	<link type="text/css" rel="stylesheet" href="{{ asset('default/css/animate.min.css') }}" media="screen">
	<!-- Css Styles -->
	<link type="text/css" rel="stylesheet" href="{{ asset('default/dark.css') }}" media="screen">
	<!-- Normalize Styles -->
	<link type="text/css" rel="stylesheet" href="{{ asset('default/css/normalize.css') }}" media="screen">

	<link type="text/css" rel="stylesheet" href="{{ asset('default/css/skin-minimal-dark.css') }}" media="screen">



	<!-- Support for HTML5 -->
	<!--[if lt IE 9]>
    <script src="{{ asset('default/js/html5shiv.js') }}"></script>
	<![endif]-->

	<!-- Enable media queries on older bgeneral_rowsers -->
	<!--[if lt IE 9]>
    <script src="{{ asset('default/js/respond.min.js') }}"></script>  <![endif]-->

</head>
<body>

	<div id="wrapper" class="container">
    	<div class="row">
            <div id="left-sidebar" class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="logo-wrapper">
                    <a href="/" title=""><img src="{{ asset('default/images/logo.png') }}" alt="" /></a>
                </div><!-- end logo-wrapper -->
                <div class="menu-wrapper">
                    <nav class="flat-menu flat-menu-dark-orange flat-menu-slide-up">
                        <input type="checkbox" id="toggle-one" name="toggle" class="toggle-menu-input">
                        <label for="toggle-one" class="toggle-menu-label"><span class="fa fa-bars"></span>Menu</label>
                        <ul class="flat-responsive-menu">
                            <li>
                                <a href="about.html">Ana Sayfa</a>
                            </li>
                            <li>
                                <input type="checkbox" id="menu-five" name="menu" class="menu-2">
                                <label for="menu-five">Categories</label>
                                    <ul class="menu-dropdown-two">
                                        {% for item in val.cats.items %}
                                            {% if item.subs == 0 %}
                                            <li><a href="/categories/{{ item.slug }}">{{ item.title }}</a></li>
                                            {% else %}
                                            <li>
                                                <input type="checkbox" id="menu-six" name="menu" class="menu-3">
                                                <label for="menu-six"><i class="fa fa-angle-right"></i>{{ item.title }}</label>
                                                <ul class="menu-dropdown-three">
                                                    {% for subitem in val.cats.items.subs %}
                                                        <li><a href="/categories/{{ subitem.slug }}">{{ subitem.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                            {% endif %}
                                        {% endfor %}

                        </ul>
                    </nav><!-- end menu -->
                </div><!-- end menu wrapper -->

                <div class="mini-widget">
                    <form id="search_form">
                        <input class="form-control" placeholder="Search on this blog..." />
                    </form><!-- mini-widget -->
                </div><!-- mini-widget -->
            </div><!-- end left-sidebar -->

            <div id="main" class="col-lg-10 col-md-10 col-sm-8 col-xs-12 nopad">

                <article class="general-wrapper">
                    <div class="title">
                        <h3>{{ val.content.item.title }}</h3>
                        <div class="byline">
                            <span><i class="fa fa-folder-open-o"></i> <a href="/categories/{{ val.content.item.cat.slug }}" title="">{{ val.content.item.cat.title }}</a></span>
                            <span><i class="fa fa-calendar-o"></i> <a href="#" title="">{{ val.content.item.date|date('Y-m-d') }}</a></span>
                        </div>
                    </div>
                </article><!-- end author-wrapper -->

                <article class="general-wrapper">
                    <div class="post-desc">
                        {{ val.content.item.content | raw }}
                    </div>
                </article><!-- end author-wrapper -->








                <div class="clearfix"></div>
                </div><!-- end row -->

            </div><!-- end main -->

    	</div><!-- end row -->
    </div><!-- end wrapper -->

    <div class="copyrights">
    	<div class="container">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            	<p>© Copyright 2016. All Right Reserved.</p>
            </div><!-- end col-lg-4 -->
			<div class="col-lg--8 col-md-8 col-sm-6 col-xs-12">
				<div class="footer-menu">

                </div><!-- end footer-menu -->
            </div><!-- end col-lg-8 -->
        </div><!-- end container -->
    </div><!-- end copyrights -->

	<div class="dmtop">Scroll to Top</div>

    	<!-- Main Scripts-->
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="{{ asset('default/js/jquery.js') }}"></script>
	<script src="{{ asset('default/js/bootstrap.js') }}"></script>
	<script src="{{ asset('default/js/retina-1.1.0.js') }}"></script>
    <script src="{{ asset('default/js/wow.min.js') }}"></script>
	<script src="{{ asset('default/js/application.js') }}"></script>

	<!-- FlexSlider Scripts-->
	<script src="{{ asset('default/js/jquery.flexslider.js') }}"></script>
    <script type="text/javascript">
	(function($) {
	  "use strict";
        $('.flexslider').flexslider({
            animation: 'fade',
            slideshow: true,
            controlNav: false,
            animationLoop: true,
          });
	})(jQuery);
    </script>

	<!-- FitVid Scripts-->
	<script src="{{ asset('default/js/jquery.fitvids.js') }}"></script>
    <script type="text/javascript">
	(function($) {
	  "use strict";
      $(document).ready(function(){
        // Target your .container, .wrapper, .post, etc.
        $(".post-wrapper").fitVids();
      });
	})(jQuery);
    </script>

</body>
</html>
